.Card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    position: relative;
    width: 300px;
}

.Card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.Card-img:hover {
    transition: transform .2s;
    transform: scale(1.2);
}

.Card-name {
    font-size: 1.5em;
    text-align: center;
    color: blue;
}

.Card-img {
    background-position: center;
    background-color: lightgray;
    border-radius: 20px;
}

.Card-type {
    font-size: 1.2em;
    text-align: center;
    color: #333;
}

.Card-base-exp {
    font-size: 1em;
    text-align: center;
    color: #333;
}